@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&family=Poppins:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.flex-container-two-columns {
	display: flex;
	padding: 40px;
	gap: 40px;
}

/*---------- Cabeçalho ----------*/

header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 0 80px;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 21px 0;
}

.menu nav ul {
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
}

.menu nav ul li a {
	color: #18a0fb;
	align-items: center;
	font-size: 15px;
}

.logo {
	display: flex;
	justify-content: space-between;
	font-family: 'Comfortaa', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: 400;
}

.logo p {
	margin-left: 10px;
}

.logo-footer {
	display: flex;
	align-self: center;
}

nav ul li {
	display: inline;
}

nav ul li a {
	padding: 0 10px;
}

.primary {
	color: #18a0fb;
	border: 1px solid #18a0fb;
	background-color: white;
	padding: 11px 42px;
	border-radius: 6px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 12px;
	cursor: pointer;
}

.primary:hover {
	color: white;
	background-color: #18a0fb;
}

.secondary {
	color: white;
	border: 1px solid #18a0fb;
	background-color: #18a0fb;
	padding: 11px 42px;
	border-radius: 6px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}

.secondary:hover {
	color: #18a0fb;
	background-color: white;
}

/* ----------- Hero Image ----------- */

.hero-image {
	width: 100vw;
	height: 600px;
	background: no-repeat url('./images/people.jpg');
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.hero-image img {
	width: 80px;
	cursor: pointer;
}

.hero-image div {
	display: flex;
	height: 340px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.hero-image h1 {
	font-size: 40px;
	padding-top: 35px;
}

.hero-image button {
	margin-bottom: 70px;
	width: auto;
}

/* ----------- Features -----------*/

.features h2 {
	margin-top: 70px;
	padding-left: 40px;
}

.features-tittle {
	width: 400px;
}

.features-block {
	height: 50%;
}

.features-block h3 {
	margin: 24px 0;
}

.features-block button {
	width: auto;
	margin-top: 20px;
}

.features-block p {
	text-align: justify;
}

/* ------------- Articles ---------- */

.article-img-left,
.article-img-right {
	padding: 20px 0;
}

.article-img-right {
	background-color: #f5f5f5;
}

.article-img-left img,
.article-img-right img {
	width: 42vw;
}

.article-img-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;
}

.article-img-text h3 {
	margin-bottom: 10px;
}

/* ---------- Community ---------- */
.community {
	text-align: center;
}

.community h3 {
	padding: 20px 0;
	margin-top: 30px;
}

.community p {
	margin-bottom: 30px;
}

.cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.cards img {
	margin: 20px 60px;
}

/* ---------- Prefooter ---------- */

.prefooter {
	background-color: #f5f5f5;
}

.prefooter-buttons {
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.prefooter-buttons button {
	width: 192px;
}

.navegacao {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 60px 0 20px 0;
}

.navegacao nav ul li a {
	color: black;
	font-size: 12px;
	font-weight: 600;
	padding: 0;
}

.nav-esquerda,
.nav-direita {
	width: 25vw;
}

.nav-esquerda ul li a {
	margin-right: 40px;
}

.nav-esquerda ul {
	display: flex;
	justify-content: flex-start;
}

.nav-direita ul {
	display: flex;
	justify-content: flex-end;
}

.nav-direita ul li a {
	margin-left: 40px;
}

/* -------- Footer --------- */

/* Social */
.social {
	text-align: center;
	margin: 20px 0 10px 0;
}

.social i {
	padding: 15px;
	font-size: 30px;
}

/* Copyright */
.copyright {
	text-align: center;
	margin: 10px 0;
	font-size: 13px;
}
