@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&family=Poppins:wght@300;400;500;700&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/*---------- Cabeçalho ----------*/

header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: auto;
    padding: 0 80px;
}

.menu {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 21px 0;
}

.menu nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.menu a {
    display: flex;
    justify-content: space-between;
	color: #18A0FB;
	text-decoration: none;
    align-items: center;
    font-size: 15px;
}

.menu a p {
    font-family: 'Comfortaa', sans-serif;
    color: black;
    font-size: 28.4444px;
    font-weight: 400;
    padding-left: 5px;
}

.menu a i {
    font-size: 20px;
    color: black;
    display: flex;
    align-items: ;
}

.botoes {
	display: flex;
	justify-content: end;
}

nav ul li {
	display: inline;
}

nav ul li a {
    padding: 0 10px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.primary {
    color: #18A0FB;
    border: 1px solid #18A0FB;
    background-color: white;
    padding: 11px 42px;
    border-radius: 6px;
	font-family: 'Montserrat', sans-serif;
    margin-right: 12px;
}

.secondary {
    color: white;
    border: 1px solid #18A0FB;
    background-color: #18A0FB;
    padding: 11px 42px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}

/* Hero Image */

.hero-image {
	width: 100vw;
	height: 50px;
}
